{{!
This file is part of Moodle - http://moodle.org/
Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses />.
}}
{{!
@template mod_mapaproitec/activitycard

Exemplo, conforme `get_courses_progress_as_dict`:
{
   "jornada": {
     "course_id": 0,
     "course_idnumber": "...",
     "course_fullname": "...",
     "course_shortname": "...",
     "course_alias": "...",
     "course_subtitle": "...",
     "course_image_url": "...",
     "total_modules": 0,
     "completed_modules": 0,
     "completion_percentage": 0,
     "disciplina": "FIC.1198",
     "iniciada": 0,
     "concluida": 0,
   },
   "etica": {
     "course_id": 0,
     "course_idnumber": "...",
     "course_fullname": "...",
     "course_shortname": "...",
     "course_alias": "...",
     "course_subtitle": "...",
     "course_image_url": "...",
     "total_modules": 0,
     "completed_modules": 0,
     "completion_percentage": 0,
     "disciplina": "FIC.1197",
     "iniciada": 0,
     "concluida": 0,
   },
   "matematica": {
     "course_id": 0,
     "course_idnumber": "...",
     "course_fullname": "...",
     "course_shortname": "...",
     "course_alias": "...",
     "course_subtitle": "...",
     "course_image_url": "...",
     "total_modules": 0,
     "completed_modules": 0,
     "completion_percentage": 0,
     "disciplina": "FIC.1196",
     "iniciada": 0,
     "concluida": 0,
   },
   "portugues": {
     "course_id": 0,
     "course_idnumber": "...",
     "course_fullname": "...",
     "course_shortname": "...",
     "course_alias": "...",
     "course_subtitle": "...",
     "course_image_url": "...",
     "total_modules": 0,
     "completed_modules": 0,
     "completion_percentage": 0,
     "disciplina": "FIC.1195",
     "iniciada": 0,
     "concluida": 0,
   },
}

}}


<style>
.activity.modtype_mapaproitec {
    border: none;
}
.activity.modtype_mapaproitec .activity-icon, .activity.modtype_mapaproitec .activity-name-area {
    display: none !important;
}
.activity.modtype_mapaproitec .activity-description {
    border: none !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
}
</style>
{{# jornada.iniciada }}
    {{{ svg_map }}}
{{/ jornada.iniciada }}

{{^ jornada.iniciada }}
<img src="{{wwwroot}}/mod/mapaproitec/pix/mapa_inativo.png" width="100%" />
{{/ jornada.iniciada }}
